
*.dat
notebooks/CG_ks0d01/file__settings_used.ini
notebooks/CG_ks0d1/file__settings_used.ini
notebooks/CG_ks0d5/file__settings_used.ini
notebooks/CG_ks1/file__settings_used.ini
notebooks/CG_ks2/file__settings_used.ini
notebooks/Cubic_galilan/CG/file__background.dat
notebooks/Cubic_galilan/CG/file__settings_used.ini
notebooks/Cubic_galilan/LCDM/file__settings_used.ini
notebooks/Cubic_galilan/CG/file__background.dat
notebooks/Cubic_galilan/CG/file__settings_used.ini
notebooks/Cubic_galilan/LCDM/file__settings_used.ini
output/pk006_phi.dat
output/pk006_delta.dat
output/pk005_phi.dat
output/pk005_delta.dat
output/pk004_phi.dat
output/pk004_delta.dat
output/pk003_phi.dat
output/pk003_delta.dat
output/pk002_phi.dat
output/pk002_delta.dat
output/pk001_phi.dat
output/pk001_delta.dat
output/pk000_phi.dat
output/pk000_delta.dat
output/file__settings_used.ini
output/file__background.dat
